body {
    color: rgb(0 0 0 / 55%);
}
.container{
    max-width: 1200px !important;
}
.logo {
    font-size: 40px;
    font-weight: 900;
    color: #9032cd !important;
}

.nav-link {
    color: rgba(0, 0, 0, .55);
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    margin: 0px 10px;
}

.nav-link:hover {
    color: #9032cd !important;

}

.active {
    color: #9032cd !important;

}

.bi-chat-dots-fill {
    color: #9032cd !important;

}

.bi-chat-dots-fill:hover {
    color: rgba(59, 6, 42, 0.608) !important;
    width: 30px;
    height: 30px;
    transition: ease-in-out .5s;
}

/* Mobile width style 
 */
.nav-item {
    list-style: none;
    text-align: center;
}

/* section-I style  */

.myname {
    font-size: 35px;
    font-weight: 800;
}

.webdev-1729 {
    font-size: 40px;
    color: #9032cd;
}

.top-para-1729 {
    font-size: 18px;
    font-weight: 400;
}

.visit-btn-1729:hover {
    background-color: #9032cd;
    transition: ease-in .6s;
}

/* hire me style */

.input-border-1729{
    border-bottom: 1px solid gray !important;
    background-color: #fef4f4 !important;
}
.input-border-1729:focus{
    outline: none;
    border-bottom: 1px solid #9032cd !important;
}
.hireme-shadow{
    /* box-shadow: 2px 2px 2px 2px rgba(75, 63, 79, 0.2); */
    background-color: #fef4f4 !important;
}

.img-hireme{
    width: 23%;
    height: 35%;
}

/* experience style  */

.coding-programm{
    background-color: #f2f6f7;
    border-radius: 10%;
}
.product-brand{
    background-color: #f3eaeb;
    border-radius: 10%;
}
.experience-1729{
    color: #FFC7CA;
    font-size: 50px;
    font-weight: 800;
}
.experience-para h1{
    color: #FFC7CA;
    font-weight: 700;
}










/* footer  */
.footer-social-1729 li {
    text-align: left;
}

.footer-social-1729 div a {
    text-decoration: none;
    color: rgb(0 0 0 / 55%);
    /* font-size: 25px; */
}

.footer-social-1729 div a:hover {
    color: #9032cd !important;
    transition: ease-in-out .5s;
}

/* Table screen width */
@media (min-width: 768px) and (max-width: 1023.99px) {
    .myname {
        font-size: 24px;
    }

    .webdev-1729 {
        font-size: 25px;
    }

    .top-para-1729 {
        font-size: 15px;
    }

    .hello-1729 {
        font-size: 20px;
    }

    .visit-btn-1729 {
        font-size: 11px;
    }
    .experience-para h1{
        font-size: 21px;
    }
}

/* Mobile screen width */
@media (min-width: 320px) and (max-width: 500.99px) {
    .myname {
        font-size: 20px;
    }

    .webdev-1729 {
        font-size: 25px;
    }

    .top-para-1729 {
        font-size: 15px;
    }

    .hello-1729 {
        font-size: 20px;
    }

    .visit-btn-1729 {
        font-size: 10px;
    }

    .small-1729 {
        width: 85% !important;
    }
    .img-hireme{
        display: none;
    }
}