body {
    background-color: #f6f6f6;
    color: rgb(0 0 0 / 55%);
}

.logo {
    font-size: 40px;
    font-weight: 900;
    color: #9032cd !important;
}

.nav-link {
    color: rgba(0, 0, 0, .55);
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    margin: 0px 10px;
}

.nav-link:hover {
    color: #9032cd !important;

}

.active {
    color: #9032cd !important;

}

.bi-chat-dots-fill {
    color: #9032cd !important;

}

.bi-chat-dots-fill:hover {
    color: rgba(59, 6, 42, 0.608) !important;
    width: 30px;
    height: 30px;
    transition: ease-in-out .5s;
}

/* Mobile width style 
 */
.nav-item {
    list-style: none;
    text-align: center;
}

/* section-one style  */

.myname {
    font-size: 35px;
    font-weight: 800;
}

.webdev-1729 {
    font-size: 40px;
    color: #9032cd;
}

.top-para-1729 {
    font-size: 18px;
    font-weight: 400;
}

/* footer  */
.footer-social-1729 li{
    text-align: left;
}
.footer-social-1729 div a{
  text-decoration: none;
  color: rgb(0 0 0 / 55%);
  /* font-size: 25px; */
}